body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

button {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
}